<div class='container-flud'>
        <div class="row">
            <mat-toolbar color="primary" class="navbar">
                <div style='padding-left: 20px;'>Project Name</div>
                <div>
                  <span><a routerLink="home" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Home</a></span>
                  <span><a routerLink="about" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">About</a></span>
                  <span><a routerLink="contact" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Contact</a></span>
                  <span><a routerLink="services" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Services</a></span>
                  <span><a routerLink="customer" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Customers</a></span>
                  <span><a routerLink="image" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Images</a></span>
                  <span><a routerLink="youtube" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Youtube</a></span>
                  <span><a routerLink="pagination" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Pagination</a></span>
                  <span><a routerLink="register" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Registration</a></span>
                  <span><a routerLink="login" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">Login</a></span>
                  <span><a routerLink="products" mat-raised-button color='accent' class='button' role="button" routerLinkActive="active">products</a></span>
                </div>
              </mat-toolbar> 
    
        </div>
</div><br>

<router-outlet></router-outlet>